/* ==========================================================================
Section Styles
========================================================================== */
$section-padding-medium-small: 9rem 0.5rem !default

//Sections
.section {
    &.section-light-blue-grey {
        background-color: $white;
    }
    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-light-blue-grey {
        background-color: $section-light-blue-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .title, .subtitle {
        font-family: 'Exo 2', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
    // Richard added so we can local links to positions but avoid obscuring behind the main menu.
    .hidden-pushed-up-z-1 {
        display: block;
        position: relative;
        top: -150px;
        visibility: hidden;
        //margin-top: 100px;
        //z-index: 1;
    }
    // Richard added sections sizes but +desktop isn't valid:
    //+desktop {
    &.is-medium-small {
        padding-top: 6rem;
        padding-bottom: 0.5rem;
    }
    &.is-small-small {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
    &.is-small-zero {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem
    }
    //}
}


//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Exo 2', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.title-wrapper-wide {
    max-width: 600px;
    margin: 0 auto;
    .title, .subtitle {
        font-family: 'Exo 2', sans-serif;

    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;
    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;
    .media-content .content p {
        span {
            display: block;
        }
        .icon-box-title {
            color: $blue-grey;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .icon-box-text {
            color: $title-grey;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}