{{/* supply the embed link as parameter 0 */}}
{{/* old embed code from Google */}}
{{/*<iframe src="{{ .Get 0 }}"*/}}
{{/*        frameborder="0" width="600" height="366" allowfullscreen="true" mozallowfullscreen="true"*/}}
{{/*        webkitallowfullscreen="true" ></iframe>*/}}
<div style="position: relative; padding-top: 35px; padding-bottom: 56.25%; overflow: hidden; max-width: 100%;">
  <iframe src="{{ .Get 0 }}" frameborder="0"
          allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"
          style="position: absolute; top: -2px; left: -1px; width: calc(100% + 2px); height: calc(100% + 2px); "></iframe>
</div>