<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{/* cookie consent should go first before other scripts are loaded */}}
    {{ partial "cookie-consent-osano.html" }}
    {{ partial "google-tag-manager-head.html" . }}
    {{ partial "meta.html" . }}
    <title>
        {{ block "title" . }}
            {{ if .Page.Params.Title }}
                {{ .Page.Params.Title }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        {{ end }}
    </title>
    {{ partial "css.html" . }}
  </head>
  <body>
    {{ partial "google-tag-manager-noscript.html" . }}

    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ partial "navbar.html" . }}
    {{ partial "navbar-clone.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
        {{ partial "footer.html" . }}
    {{ end }}

    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
        {{ partial "sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
    {{ partial "cookie-linkedin-insight.html" . }}
  </body>
</html>
