{{ define "main" }}
    {{/* Richard 20220413: disable title and Calendly */}}
    {{/* partial "title.html" . */}}
    {{/* partial "schedule.html" . */}}
    {{/* partial "contact-form.html" . */}}
    <section id="contact" class="section section-feature-grey is-small"></section>
    {{ partial "heading-subheading.html" . }}
    {{ partial "linkedin-github.html" . }}
    <section id="contact" class="section section-feature-grey is-medium-small"></section>
{{ end }}
