{{ define "main" }}
<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <article>
          <div class="title-wrapper has-text-centered">
            <h2 class="title is-1">{{ .Title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h3>
            <div class="mb-40"></div>
            <div class="divider is-centered"></div>
          </div>
          <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
          {{ if .Content }}
          <div class="container">
            <div class="columns">
              <div class="content-wrapper">
                <div class="content">
                  {{.Content}}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </article>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content is-medium mt-40">
            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages }}
            <p class="has-text-centered">
              <a href="{{.Permalink}}">{{.Title}}</a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}



