{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $copyright   := index $footer "copyright" }}
{{- $contact     := index $footer "contact" }}
{{- $socialMediaTitle := index $footer "socialmediatitle" }}
{{- $socialMediaDisclaimer := index .Site.Params.disclaimers "socialmediaDisclaimer" }}
{{- $useSocialMediaDisclaimer := .Params.useSocialMediaDisclaimer }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="footer-logo">
          <a href="/#"><img src="{{ printf "%s" $logo | relURL }}"></a>
        </div>
      </div>
        {{- range $quickLinks }}
          <div class="column">
            <div class="footer-column">
              <div class="footer-header">
                <h3>{{ .title }}</h3>
              </div>
              <ul class="link-list">
                  {{- range .links }}
                    <li>
                      <a href="{{ .link }}">
                          {{ .text }}
                      </a>
                    </li>
                  {{- end }}
              </ul>
            </div>
          </div>
        {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <!--            <h3>{{ $socialMediaTitle }}</h3>-->
            <nav class="level-right is-mobile">
              <div class="level-left">
                  {{- range $socialMedia }}
                    <a class="level-left" href="{{ .link }}">
                      <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                    </a>
                  {{- end }}
              </div>
            </nav>
              {{- if $bulmaLogo }}
                <a href="https://bulma.io" target="_blank">
                  <img src="{{ "/images/logos-original/made-with-bulma.png" | relURL }}" alt="Made with Bulma"
                       width="128" height="24">
                </a>
              {{- end }}
          </div>
            {{ if $contact }}
              <div class="footer-contact level-right">
                <p class="is-size-7">
                  <a href="mailto:{{ $contact.email }}?Subject={{ $contact.subject }}">{{ $contact.email }}</a>
                </p>
              </div>
            {{ end }}
{{/*          old small text legal links */}}
{{/*          <div class="footer-contact level-right">*/}}
{{/*            <p class="is-size-7"><br></p>*/}}
{{/*          </div>*/}}
{{/*          <div class="footer-contact level-right">*/}}
{{/*            <p class="is-size-7">*/}}
{{/*              <a href="/terms">Terms of Service</a>*/}}
{{/*            </p>*/}}
{{/*          </div>*/}}
{{/*          <div class="footer-contact level-right">*/}}
{{/*            <p class="is-size-7">*/}}
{{/*              <a href="/privacy">Privacy Policy</a>*/}}
{{/*            </p>*/}}
{{/*          </div>*/}}
{{/*          <div class="footer-contact level-right">*/}}
{{/*            <p class="is-size-7">*/}}
{{/*              <a href="/cookies">Cookies</a>*/}}
{{/*            </p>*/}}
{{/*          </div>*/}}
        </div>
      </div>
    </div>
  </div>
    {{ if $useSocialMediaDisclaimer }}
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="footer-column has-text-left">
              <div class="footer-copyright">
                <p class="is-size-7">{{ $socialMediaDisclaimer }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-column has-text-left">
          <div class="footer-copyright">
            <p class="is-size-7">{{ $copyright }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
