{{- $redirectTo := .GetPage (.Params.redirectTo | default "/#") }}
{{- $image := .Params.image }}
{{- $altText := .Params.altText }}
{{- $heading := .Params.heading }}
{{- $subheading := .Params.subheading }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title is-3 is-spaced">{{ $heading | markdownify }}</h2>
      <div class="columns">
        <div class="column is-four-fifths is-offset-1">
          <h3 class="subtitle is-5 is-muted">{{ $subheading | markdownify }}</h3>
        </div>
      </div>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-3 is-offset-1">
            {{- if $image }}
                {{ partial "image.html" (dict "context" . "image" $image "alt" $altText ) }}
            {{- end}}
        </div>
        <div class="column is-8">
          <script type="text/javascript">
            let submitted = false;
            const redirect = () => {
              window.top.location.href = '{{ $redirectTo.Permalink | relURL }}';
            };
          </script>
          <iframe name="surveyForm-iFrame" id="surveyForm-iFrame" style="display:none;"
                  sandbox="allow-top-navigation"
                  onload="if (submitted) { redirect(); }">
          </iframe>
          <form id="surveyForm"
                class="validate"
                action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfMe943Y9jswMtLV0kVwp36v_IG_j0DERaJk_aeDuMd6GCXqg/formResponse"
                method="POST" target="surveyForm-iFrame" onsubmit="submitted=true;">
            <div class="columns">
              <div class="column is-two-thirds is-offset-2">

                <div class="field">
                  <label class="label is-muted">Your first name</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.1298079098" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please supply your
                    name
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Your last name</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.1096525489" type="text" data-validation=""
                           placeholder="">
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Best email address</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.607348130" type="text" data-validation="email not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please use a valid
                    email address
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Please select your call preference</label>
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select class="has-text-grey" name="entry.2001473143" required data-validation="one-is-selected">
                        <option value="" selected disabled hidden></option>
                        <option value="Video Skype Call">Video Skype call</option>
                        <option value="Audio Skype Call">Audio Skype call</option>
                        <option value="Phone Call">Phone call</option>
                      </select>
                    </div>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="">Please choose an option</div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Phone number (or Skype ID if you asked for a Skype call)
                  </label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.253794674" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-phone"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">A phone number or
                    Skype ID is required
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Your business website (if you don't have one please type "no
                    site")</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.659297021" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">An entry for your
                    business website is required
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">When are you looking to migrate to Snowflake?</label>
                  <div class="control">
                    <ul>
                      <li><input class="is-checkradio is-small" id="migration1" type="radio" name="entry.743416968"
                                 data-validation="one-is-checked"
                                 value="As soon as possible">
                        <label for="migration1">As soon as possible</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="migration2" type="radio" name="entry.743416968"
                                 data-validation="one-is-checked"
                                 value="1-3 months">
                        <label for="migration2">1-3 months</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="migration3" type="radio" name="entry.743416968"
                                 data-validation="one-is-checked"
                                 value="3-6 months">
                        <label for="migration3">3-6 months</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="migration4" type="radio" name="entry.743416968"
                                 data-validation="one-is-checked"
                                 value="I'm just researching my options">
                        <label for="migration4">I'm just researching my options</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="migration5" type="radio" name="entry.743416968"
                                 data-validation="one-is-checked"
                                 value="Other">
                        <label for="migration5">Other</label>
                      </li>
                    </ul>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="">Please complete this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">What do you feel is
                    your biggest obstacle to migrating to Snowflake?
                  </label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.1612908043" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please complete
                    this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Existing data integration tools in use at your company</label>
                  <div class="control">
                    <ul>
                      <li><input class="is-checkradio is-small" id="bi-tool-1" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Databricks">
                        <label for="bi-tool-1">Databricks</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-2" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Informatica">
                        <label for="bi-tool-2">Informatica</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-3" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Custom PL/SQL">
                        <label for="bi-tool-3">PL/SQL code base</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-4" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Custom Python">
                        <label for="bi-tool-4">Python code base</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-5" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Oracle">
                        <label for="bi-tool-5">Oracle</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-6" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Pentaho">
                        <label for="bi-tool-6">Pentaho</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-7" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="SAP">
                        <label for="bi-tool-7">SAP</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-8" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Talend">
                        <label for="bi-tool-8">Talend</label>
                      </li>
                      <li><input class="is-checkradio is-small" id="bi-tool-9" type="checkbox" name="entry.1851391914"
                                 data-validation="one-is-checked"
                                 value="Other">
                        <label for="bi-tool-9">Other</label>
                      </li>

                    </ul>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="">Please complete this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">What percentage of your data lives or is processed in the
                    cloud?</label>
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select class="has-text-grey" name="entry.1899863596" required data-validation="one-is-selected">
                        <option value="" selected disabled hidden></option>
                        <option value="Less than 25%">Less than 25%</option>
                        <option value="25 - 50%">25 - 50%</option>
                        <option value="50 - 75%">50 - 75%</option>
                        <option value="75 - 100%">75 - 100%</option>
                        <option value="100%">100%</option>
                        <option value="None yet">None yet</option>
                        <option value="No plans to use the cloud in the foreseeable future">No plans to use the cloud in
                          the foreseeable future
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="">Please choose an option</div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Briefly describe the data landscape at your business, who do you
                    serve and who is your customer?</label>
                  <div class="control">
                    <textarea class="textarea is-medium" rows=3 name="entry.1255843818" type="text"
                              data-validation="not-blank"
                              placeholder="" required></textarea>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please complete
                    this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">How willing are you to invest in your data integration platform
                    and data-ops teams right now?</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.1294570093" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please complete
                    this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">If you are accepted, how soon can you get started?</label>
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.472107634" type="text" data-validation="not-blank"
                           placeholder="" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please complete
                    this question
                  </div>
                </div>

                <div class="field">
                  <label class="label is-muted mt-40">Finally, what makes you different from other applications
                    and why should we choose to work with you?</label>
                  <div class="control">
                    <textarea class="textarea is-medium" rows=3 name="entry.1708289249" data-validation="not-blank"
                              placeholder="" required></textarea>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none;">Please complete
                    this question
                  </div>
                </div>


                  {{/* Form footer */}}
                <div class="field">
                  <div class="control form-footer has-text-centered">
                    <button id="signUpFormSubmit"
                            class="button cta is-rounded is-large accent-btn raised is-clear mt-20"
                            type="submit">
                      Submit >>>
                    </button>
                  </div>
                  <div class="validation-error-message hidden has-text-centered has-text-danger mt-20">
                    <p class="is-size-6 mt-10">Please complete the fields in red</p>
                  </div>
                </div>
              </div>
            </div>
              {{ partial "disclaimer-info-safety-privacy.html" . }}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>