{{ $linkedInUrl := .Site.Params.LinkedInUrl }}
{{ $gitHubUrl := .Site.Params.GitHubUrl }}
<section class="section section-feature-grey is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-centered">
        <div class="columns">
          <div class="column is-6">
          </div>
          <div class="column is-6">
            <div class="card-flex-image has-text-centered">
              <figure class="image is-inline-block is-128x128">
                <a href="{{ $linkedInUrl }}">
                  <img src="/images/LI-In-Bug.png" alt="LinkedIn">
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6 is-centered">
        <div class="columns">
          <div class="column is-6">
            <div class="card-flex-image has-text-centered">
              <figure class="image is-inline-block is-128x128">
                <a href="{{ $gitHubUrl }}">
                  <img src="/images/GitHub-Mark-120px-plus.png" alt="GitHub">
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-feature-grey is-small"></section>
