{{- $material   := index .context.Site.Params.material .materialKey }}
{{- $background := .background }}
{{- $rightTitle := .rightTitle }}
{{- with $material }}
  <section class="section {{ $background }} is-medium">
    <div class="container">
        {{ partial "material-title-centre.html" (dict "rightTitle" $rightTitle "title" .title "subtitle" .subtitle) }}
      <div class="columns">
          {{ partial "material-body-left.html" . }}
      </div>
    </div>
  </section>
{{- end }}
