{{ $isRight := .rightTitle }}
<div class="column is-centered-tablet-portrait">
    {{ if $isRight }}
      <h1 class="title section-title has-text-right">{{ .title }}</h1>
      <h3 class="subtitle is-5 is-muted">{{ .subtitle }}</h3>
      <div class="divider is-pulled-right"></div>
    {{ else }}
      <h1 class="title section-title">{{ .title }}</h1>
      <h3 class="subtitle is-5 is-muted">{{ .subtitle }}</h3>
      <div class="divider"></div>
    {{ end }}
</div>

