{{- $section := .section }}
{{- $title    := index $section "title" }}
{{- $subtitle := index $section "subtitle" }}
{{- $tiles    := index $section "tiles" }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
          {{- range $tiles }}
            <div class="column is-one-third">
              <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1"
                   data-animation="fadeInLeft">
                  <div class="card-title">
                    <h4>{{ .title }}</h4>
                  </div>
                  <div class="card-icon">
                    <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
                  </div>
                  <div class="card-text">
                    <p>{{ .text }}</p>
                  </div>
{{/*                Richard: remove card action buttons ... */}}
{{/*                  <div class="card-action">*/}}
{{/*                    <a href="{{ .url }}" class="button accent-btn raised">{{ .buttonText }}</a>*/}}
{{/*                  </div>*/}}
                </div>
            </div>
          {{- end }}
      </div>
    </div>
  </div>
</section>