<section>
  <div class="section is-medium">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-3">
          <div class="has-text-centered">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title" data-action="collapse" data-target="collapsible-card">
                  Walkthrough
                  <div class="level-right">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                  </div>
                </p>
              </header>
              <div id="collapsible-card" class="is-collapsible">
                <div class="card-content">
                  <p class="title is-4">
                    “There are two hard things in computer science: cache invalidation, naming things, and off-by-one
                    errors.”
                  </p>
                  <p class="subtitle is-5">
                    Jeff Atwood
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ "js/bulma-collapsible.min.js" | relURL }}"></script>
<script type="text/javascript">
  const bulmaCollapsibleInstances = bulmaCollapsible.attach('.is-collapsible');
  bulmaCollapsibleInstances.forEach(bulmaCollapsibleInstance => {
    console.log(bulmaCollapsibleInstance.collapsed());
  });
</script>
