{{- $section   := .section }}
{{- $title      := index $section "title" }}
{{- $subtitle   := index $section "subtitle" }}
{{- $image      := index $section "image" }}
{{- $buttonText := index $section "buttontext" }}
{{- $buttonLink := index $section "buttonlink" }}
<section class="section section-light-grey is-medium">
  <div id="section3-animation" class="hidden-pushed-up-z-1"></div>
  <div class="container">
    <div class="container mb-60">
      <div class="title-wrapper-wide has-text-centered">
        <h2 class="title is-2">{{ $title | markdownify }}</h2>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider is-centered"></div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <a href="/features" alt="More Featured Animations">
            <img src="{{ printf "images/%s" $image | relURL }}">
          </a>
        </div>
      </div>
    </div>

    <p class="has-text-centered mt-40">
      <a class="button cta is-large rounded primary-btn raised" href="{{ $buttonLink }}">
          {{ $buttonText }}
      </a>
    </p>
  </div>
</section>