{{ $title := index .Params.heading }}
{{ $subtitle := index .Params.subtitle }}
{{ $footerTitle := index .Params.footerTitle }}
{{ $footerText  := index .Params.footerText }}
{{ $offer1 := index .Params.options 0 }}
{{ $offer2 := index .Params.options 1 }}
{{ $offer3 := index .Params.options 2 }}
<div class="section section-feature-grey is-medium-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7 has-text-centered">
        <div class="title is-1 is-bold is-spaced">{{ $title }}</div>
        <div class="divider is-centered"></div>
        <div class="mb-40"></div>
        <div class="subtitle is-5 is-muted">{{ $subtitle | markdownify }}</div>
      </div>
    </div>
    <div class="mb-60"></div>
    <div class="columns is-centered is-desktop">
      <div class="column">
        <div class="pricing-table">
          <div class="pricing-plan is-accent">
            <div class="plan-header">
                {{ $offer1.planHeader | markdownify }}
            </div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer1.planItems }}
                  <div class="plan-item">
                      {{ . | markdownify }}
                  </div>
                {{ end }}
            </div>
            <div class="plan-footer level-item">
              <a class="button signup-button rounded raised"
                 href="{{ $offer1.buttonLink }}">{{ $offer1.buttonText }}</a>
            </div>
          </div>
          <div class="pricing-plan is-accent">
            <div class="plan-header">
                {{ $offer2.planHeader | markdownify  }}
            </div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer2.planItems }}
                  <div class="plan-item">
                      {{ . | markdownify }}
                  </div>
                {{ end }}
            </div>
            <div class="plan-footer level-item">
              <a class="button signup-button rounded raised"
                 href="{{ $offer2.buttonLink }}">{{ $offer2.buttonText }}</a>
            </div>
          </div>
          <div class="pricing-plan is-accent">
            <div class="plan-header">
                {{ $offer3.planHeader | markdownify  }}
            </div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer3.planItems }}
                  <div class="plan-item">
                      {{ . | markdownify }}
                  </div>
                {{ end }}
            </div>
            <div class="plan-footer level-item">
              <a class="button signup-button rounded raised"
                 href="{{ $offer3.buttonLink }}">{{ $offer3.buttonText}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-feature-grey is-medium">
  <div class="columns is-centered is-desktop">
    <div class="column is-7 has-text-centered">
      <h1 class="title is-2 is-bold is-spaced">{{ $footerTitle }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ $footerText | markdownify }}</h2>
    </div>
  </div>
</div>
<div class="section section-feature-grey is-medium">
</div>