{{ $heading := .Params.heading }}
{{ $subHeading := .Params.subHeading }}
<section class="section section-feature-grey is-medium-small">
  <div class="title-wrapper-wide has-text-centered">
    <h2 class="title is-2">{{ $heading }}</h2>
    <div class="divider is-centered"></div>
    <div class="mb-40"></div>
    <h3 class="subtitle is-5 is-muted">{{ $subHeading }}</h3>
  </div>
</section>
